<% layout('layouts/boilerplate')%>

    <section class="flex justify-center text-secondary ">
        <div
            class="card grid lg:grid-cols-2 items-center shadow-[0_4px_12px_-5px] shadow-secondary w-full max-w-2xl max-sm:max-w-sm overflow-hidden mx-auto mt-4  text-secondary">
            <div class="p-6">
                <% if (route==='login' ) { %>
                    <form id="login-form" action="/auth/login" method="POST">
                        <h3 class="text-xl font-semibold mb-10">Login</h3>
                        <div class="grid sm:grid-cols-2 gap-10 mt-5 ">
                            <div class="relative flex items-center col-span-2">
                                <label class=" text-sm font-semibold absolute top-[-10px] left-0"
                                    for="url">Username</label>
                                <input type="text" id="username" name="username" type="text" required
                                    placeholder="username"
                                    class="text-textMutedS px-2 pt-5 pb-2 bg-transparent c-transition w-full text-md border-b-2 border-textMutedS focus:border-primary outline-none" />
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    class="size-3 absolute right-2 bottom-2">
                                    <path
                                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                                </svg>
                            </div>
                            <div class="relative flex items-center col-span-2">
                                <label class="text-sm font-semibold absolute top-[-10px] left-0"
                                    for="url">Password</label>
                                <input type="password" id="password" name="password" type="text" required
                                    placeholder="password"
                                    class="text-textMutedS px-2 pt-5 pb-2 bg-transparent c-transition w-full text-md border-b-2 border-textMutedS focus:border-primary outline-none input-password" />
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    class="cursor-pointer c-transition size-3 absolute right-2 bottom-2" id="eye">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" />
                                    <path fill-rule="evenodd"
                                        d="M1.38 8.28a.87.87 0 0 1 0-.566 7.003 7.003 0 0 1 13.238.006.87.87 0 0 1 0 .566A7.003 7.003 0 0 1 1.379 8.28ZM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                                        clip-rule="evenodd" />
                                    <path class="hidden" fill-rule="evenodd"
                                        d="M3.28 2.22a.75.75 0 0 0-1.06 1.06l10.5 10.5a.75.75 0 1 0 1.06-1.06l-1.322-1.323a7.012 7.012 0 0 0 2.16-3.11.87.87 0 0 0 0-.567A7.003 7.003 0 0 0 4.82 3.76l-1.54-1.54Zm3.196 3.195 1.135 1.136A1.502 1.502 0 0 1 9.45 8.389l1.136 1.135a3 3 0 0 0-4.109-4.109Z"
                                        clip-rule="evenodd" />
                                    <path class="hidden"
                                        d="m7.812 10.994 1.816 1.816A7.003 7.003 0 0 1 1.38 8.28a.87.87 0 0 1 0-.566 6.985 6.985 0 0 1 1.113-2.039l2.513 2.513a3 3 0 0 0 2.806 2.806Z" />
                                </svg>
                            </div>
                        </div>
                        <button type="submit"
                            class="c-transition mt-10 mb-8 px-2 py-2.5 w-full rounded-sm text-sm bg-textMutedS hover:bg-secondary text-textMuted">Submit</button>
                        <p class=" text-xs md:text-sm text-center lg:text-start">New here? <a href="/auth/register"
                                class="underline cursor-pointer italics text-lg text-[#38425c] dark:text-blue-600">Sign
                                up.</a>
                        </p>
                    </form>
                    <form id="reset-password-form" action="/auth/reset-password" class="hidden" method="POST">
                        <h3 class="text-xl font-semibold mb-10">Forgot Password</h3>
                        <div class="grid sm:grid-cols-2 gap-10 mt-5 ">
                            <div class="relative flex items-center col-span-2">
                                <label class="text-sm font-semibold absolute top-[-10px] left-0" for="url">Email</label>
                                <input type="email" id="email" name="email" type="text" required placeholder="email"
                                    class="text-textMutedS px-2 pt-5 pb-2 bg-transparent c-transition w-full text-md border-b-2 border-textMutedS focus:border-primary outline-none" />
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    class="size-3 absolute right-2 bottom-2">
                                    <path
                                        d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                                    <path
                                        d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                                </svg>
                            </div>
                        </div>
                        <button type="submit"
                            class="c-transition mt-10 mb-8 px-2 py-2.5 w-full rounded-sm text-sm bg-textMutedS hover:bg-secondary text-textMuted">Submit</button>
                    </form>
                    <div class="flex items-center me-4">
                        <label for="forgot-checkbox" class="flex items-center space-x-3 mt-5">
                            <input type="checkbox" class="size-3" id="forgot-checkbox">
                            <span class="text-md font-semibold">Forgot Password</span>
                        </label>
                    </div>
                    <% } %>

                        <% if (route==='register' ) { %>
                            <form action="/auth/register" method="POST">
                                <h3 class="text-xl font-semibold mb-10">Register</h3>
                                <div class="grid grid-cols-2 gap-10 mt-5 ">
                                    <div class="relative flex items-center col-span-2">
                                        <label class=" text-sm font-semibold absolute top-[-10px] left-0"
                                            for="url">Username</label>
                                        <input type="text" id="username" name="username" type="text" required
                                            placeholder="username"
                                            class="text-textMutedS px-2 pt-5 pb-2 bg-transparent c-transition w-full text-md border-b-2 border-textMutedS focus:border-primary outline-none" />
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                            class="size-3 absolute right-2 bottom-2">
                                            <path
                                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                                        </svg>
                                    </div>
                                    <div class="relative flex items-center col-span-2">
                                        <label class="text-sm font-semibold absolute top-[-10px] left-0"
                                            for="url">Email</label>
                                        <input type="email" id="email" name="email" type="text" required
                                            placeholder="email"
                                            class="text-textMutedS px-2 pt-5 pb-2 bg-transparent c-transition w-full text-md border-b-2 border-textMutedS focus:border-primary outline-none" />
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                            class="size-3 absolute right-2 bottom-2">
                                            <path
                                                d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                                            <path
                                                d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                                        </svg>
                                    </div>
                                    <div class="relative flex items-center col-span-2">
                                        <label class="text-sm font-semibold absolute top-[-10px] left-0"
                                            for="url">Password</label>
                                        <input type="password" id="password" name="password" type="text" required
                                            placeholder="password"
                                            class="text-textMutedS px-2 pt-5 pb-2 bg-transparent c-transition w-full text-md border-b-2 border-textMutedS focus:border-primary outline-none input-password" />
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                            class="cursor-pointer c-transition size-3 absolute right-2 bottom-2"
                                            id="eye">
                                            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" />
                                            <path fill-rule="evenodd"
                                                d="M1.38 8.28a.87.87 0 0 1 0-.566 7.003 7.003 0 0 1 13.238.006.87.87 0 0 1 0 .566A7.003 7.003 0 0 1 1.379 8.28ZM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                                                clip-rule="evenodd" />
                                            <path class="hidden" fill-rule="evenodd"
                                                d="M3.28 2.22a.75.75 0 0 0-1.06 1.06l10.5 10.5a.75.75 0 1 0 1.06-1.06l-1.322-1.323a7.012 7.012 0 0 0 2.16-3.11.87.87 0 0 0 0-.567A7.003 7.003 0 0 0 4.82 3.76l-1.54-1.54Zm3.196 3.195 1.135 1.136A1.502 1.502 0 0 1 9.45 8.389l1.136 1.135a3 3 0 0 0-4.109-4.109Z"
                                                clip-rule="evenodd" />
                                            <path class="hidden"
                                                d="m7.812 10.994 1.816 1.816A7.003 7.003 0 0 1 1.38 8.28a.87.87 0 0 1 0-.566 6.985 6.985 0 0 1 1.113-2.039l2.513 2.513a3 3 0 0 0 2.806 2.806Z" />
                                        </svg>
                                    </div>
                                    <div class="relative hidden items-center col-span-2" id="password-helper">
                                        <ul class="px-4 grid sm:grid-cols-2 gap-y-1 gap-x-6 w-max list-disc">
                                            <li class="text-md text-orange-500">minimum 8 characters</li>
                                            <li class="text-md text-orange-500">one uppercase characters</li>
                                            <li class="text-md text-orange-500">one special characters</li>
                                            <li class="text-md text-orange-500">one number</li>
                                        </ul>
                                    </div>
                                    <div class="relative flex items-center col-span-2">
                                        <label class="text-sm font-semibold absolute top-[-10px] left-0"
                                            for="url">Confirm Passsword</label>
                                        <input type="password" id="confirm-password" name="confirm-password" type="text"
                                            required placeholder="confirm password"
                                            class="text-textMutedS px-2 pt-5 pb-2 bg-transparent c-transition w-full text-md border-b-2 border-textMutedS focus:border-primary outline-none" />
                                    </div>
                                    <div class="relative hidden items-center col-span-2" id="check-password-match">
                                        <ul class="px-4 grid sm:grid-cols-2 gap-y-1 gap-x-6 w-max list-disc">
                                            <li class="text-md text-orange-500">Password not match</li>
                                            <li class="text-md hidden text-green-500">Password match</li>
                                        </ul>
                                    </div>
                                </div>
                                <button type="submit"
                                    class="c-transition mt-10 mb-8 px-2 py-2.5 w-full rounded-sm text-sm bg-textMutedS hover:bg-secondary text-textMuted">Submit</button>
                                <p class=" text-xs md:text-sm text-center lg:text-start">Already have an account? <a
                                        href="/auth/login"
                                        class="underline cursor-pointer italics text-lg text-[#38425c] dark:text-blue-600">Sign
                                        in.</a>
                                </p>

                            </form>
                            <% } %>
            </div>

            <div class="min-h-[280px] h-full hidden lg:block bg-textMutedS">
                <img src="https://24sevensocial.com/app/uploads/2022/05/24SevenSocial-hero-section-shortener.png"
                    class="w-full h-full object-cover" />
            </div>
        </div>
    </section>

    <script src="/javascript/authForm.js"></script>