<div class=" w-full h-4 relative">
    <% if(success && success.length) {%>
        <div class="bg-green-500 dark:bg-white dark:shadow-[0_3px_10px_-3px_rgba(6,81,237,0.3)] dark:border-l-[6px] dark:border-green-500 dark:text-gray-800 text-white shadow-green-200 flash-message"
            role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-[18px] shrink-0 fill-white dark:fill-green-500 inline mr-3"
                viewBox="0 0 512 512">
                <ellipse class="dark:fill-green-500 fill-white" cx="256" cy="256" data-original="#fff" rx="256"
                    ry="255.832" />
                <path class="fill-green-500 dark:fill-white"
                    d="m235.472 392.08-121.04-94.296 34.416-44.168 74.328 57.904 122.672-177.016 46.032 31.888z"
                    data-original="#ffffff dark:green-500" />
            </svg>
            <span class="block sm:inline text-sm mr-3">
                <%= success %>
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                class="size-4 close-flash-message">
                <path
                    d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
            </svg>
        </div>
        <% } %>

            <% if(error && error.length) {%>
                <div class="bg-red-500 dark:bg-white dark:shadow-[0_3px_10px_-3px_rgba(6,81,237,0.3)] dark:border-l-[6px] dark:border-red-500 dark:text-gray-800 text-white shadow-red-200 flash-message"
                    role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-[18px] shrink-0 fill-white inline mr-3"
                        viewBox="0 0 32 32">
                        <path class="dark:fill-red-500"
                            d="M16 1a15 15 0 1 0 15 15A15 15 0 0 0 16 1zm6.36 20L21 22.36l-5-4.95-4.95 4.95L9.64 21l4.95-5-4.95-4.95 1.41-1.41L16 14.59l5-4.95 1.41 1.41-5 4.95z"
                            data-original="#ea2d3f" />
                    </svg>
                    <span class="block sm:inline text-sm mr-3">
                        <%= error %>
                    </span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                        class="size-4 close-flash-message">
                        <path
                            d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
                    </svg>
                </div>
                <% } %>
</div>