<div class="fixed w-full bg-primary z-50">
    <nav class="c-transition navbar">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-2 px-3">
            <a href="/dev_nano" class="flex items-center space-x-3 rtl:space-x-reverse">
                <span id="brand-name"
                    class="self-center text-2xl font-semibold whitespace-nowrap text-secondary c-transition ">nano_url</span>
            </a>
            <div class="flex items-center space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
                <div class="flex items-center justify-between">
                    <button type="button"
                        class="flex c-transition text-lg text-secondary bg-primary rounded-full md:me-0"
                        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                        data-dropdown-placement="bottom">
                        <span class="sr-only">Open user menu</span>
                        <div
                            class="flex justify-center items-center p-0 text-center pb-1 text-lg  w-7 h-7 rounded-full hover:bg-secondary hover:text-primary c-transition">
                            <% if (currentUser){%>
                                <%= currentUser.username[0] %>
                                    <% } else {%>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                            class="size-3 mt-1">
                                            <path fillRule="evenodd"
                                                d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                                                clipRule="evenodd" />
                                        </svg>
                                        <% } %>
                        </div>
                    </button>
                    <div class="mx-1 border-solid border-2 border-secondary h-7"></div>
                    <button type="button"
                        class="flex c-transition  text-lg text-secondary bg-primary rounded-full md:me-0"
                        id="theme-toggle-btn" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                        data-dropdown-placement="bottom">
                        <span class="sr-only">Toggle Theme</span>
                        <div
                            class="ml-1 flex justify-center items-center p-0 text-center pb-1 text-lg  w-7 h-7 rounded-full bg-textMutedS text-primary c-transition">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                class="size-3 mt-1" id="theme-toggler">
                                <path class="hidden"
                                    d="M8 1a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 8 1ZM10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0ZM12.95 4.11a.75.75 0 1 0-1.06-1.06l-1.062 1.06a.75.75 0 0 0 1.061 1.062l1.06-1.061ZM15 8a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 15 8ZM11.89 12.95a.75.75 0 0 0 1.06-1.06l-1.06-1.062a.75.75 0 0 0-1.062 1.061l1.061 1.06ZM8 12a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 8 12ZM5.172 11.89a.75.75 0 0 0-1.061-1.062L3.05 11.89a.75.75 0 1 0 1.06 1.06l1.06-1.06ZM4 8a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 4 8ZM4.11 5.172A.75.75 0 0 0 5.173 4.11L4.11 3.05a.75.75 0 1 0-1.06 1.06l1.06 1.06Z" />
                                <path
                                    d="M14.438 10.148c.19-.425-.321-.787-.748-.601A5.5 5.5 0 0 1 6.453 2.31c.186-.427-.176-.938-.6-.748a6.501 6.501 0 1 0 8.585 8.586Z" />
                            </svg>


                        </div>
                    </button>
                </div>

                <!-- Dropdown menu -->
                <div class="z-50 hidden overflow-hidden my-4 text-base list-none c-transition  bg-secondary divide-y divide-primary rounded-lg shadow-sm  absolute right-5 top-7 md:right-20 lg:right-28"
                    id="user-dropdown">
                    <% if (currentUser){%>
                        <a href="http://localhost:5000/user/dashboard">
                            <div class="px-4 py-3">
                                <span class="block c-transition text-primary">
                                    <%= currentUser.username %>
                                </span>
                                <span class="block text-xs c-transition  text-textMuted truncate ">
                                    <%= currentUser.email %>
                                </span>
                            </div>
                        </a>
                        <ul class="py-2" aria-labelledby="user-menu-button">
                            <li>
                                <a href="/auth/logout"
                                    class="block px-4 py-2 text-sm text-primary hover:text-secondary hover:bg-primary c-transition  ">Logout</a>
                            </li>
                        </ul>
                        <% } else {%>
                            <ul class="py-2 overflow-hidden" aria-labelledby="user-menu-button">
                                <li>
                                    <a href="/auth/login"
                                        class="block px-4 py-2 text-sm text-primary hover:text-secondary hover:bg-primary c-transition ">Login</a>
                                </li>
                                <li>
                                    <a href="/auth/register"
                                        class="block px-4 py-2 text-sm text-primary hover:text-secondary hover:bg-primary c-transition ">Register</a>
                                </li>
                            </ul>
                            <% } %>


                </div>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
            </div>
        </div>
    </nav>
</div>