@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #f9fafa;
    --secondary: #272523;
    --text-s-muted: #595652;
    --text-muted: #d1d4d6;
}

.dark {
    --primary: #272523;
    --secondary: #f9fafa;
    --text-s-muted: #d1d4d6;
    --text-muted: #595652;
}

@layer components {
    .navbar {
        @apply relative border-b-4 border-secondary mb-2
    }

    .c-transition {
        @apply transition-all duration-1000 ease-out
    }

    .code-input {
        @apply shadow-[0_4px_12px_-5px] shadow-secondary w-12 h-10 flex items-center text-center text-primary text-base bg-textMutedS outline-none rounded
    }

    .flash-message {
        @apply font-semibold tracking-wide flex items-center w-max max-w-sm p-4 rounded-md shadow-md absolute top-0 right-5
    }
}


/* #f7fbf8
#40373a

#3a3839
#ecf2fc

#d2f6fd
#004442


#f9fafa
#272523 */