<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Link</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Pristina;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background: url("https://kinsta.com/wp-content/uploads/2023/12/create-url-shortener-with-python-1024x512.png") no-repeat center/cover fixed;
        }

        section {
            position: relative;
            width: 80%;
            max-width: 500px;
            border: 2px solid #ffffff80;
            border-radius: 20px;
            backdrop-filter: blur(15px);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4rem 3rem;
        }

        section.view-section {
            flex-direction: column;
        }

        h1 {
            font-size: 2rem;
            text-align: center;
            color: #fff;
        }

        .input_container {
            position: relative;
            margin: 30px 0;
            width: 100%;
            border-bottom: 2px solid #ffffff80;
        }

        form {
            width: 100%;
        }

        .input_container label {
            position: absolute;
            right: 8px;
            color: #fff;
            width: 30px;
            top: 20px;
        }



        .input_container input::placeholder {
            color: #00000062;
        }

        .input_container input {
            width: 100%;
            height: 60px;
            background: transparent;
            border: none;
            outline: none;
            font-size: 1rem;
            padding: 0 35px 0 5px;
            color: #fff;
            font-weight: 700;
            font-family: inherit;

        }

        svg {
            position: absolute;
            right: 0px;
            color: #fff;
            width: 30px;
            top: 5px;
        }


        #copy_button {
            width: 100%;
            background-color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 700;
            font-family: inherit;
            padding: .7rem 0;
            transition: all 0.4s ease;
            border-radius: 40px;
        }

        #copy_button:hover {
            background-color: #0000002d;
            color: white;
            box-shadow: inset 0 3px white;
        }

        .btn {
            background: #ccebf3;
            border: 6px solid darken(#ccebf3, 10%);
            border-radius: .4rem;
            outline: none;
            padding: 1rem;
            text-transform: lowercase;
        }


        .notify {
            border-radius: .4rem;
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }




        .notify__close {
            color: inherit;
            font-size: 2.1rem;
            font-weight: 300;
            line-height: 1;
            opacity: .5;
            padding: 0 .4rem;
            /* position: absolute;
            right: .8rem; */

            &:hover {
                opacity: 1;
            }

            button& {
                background: transparent;
                border: 0;
                outline: none;
                -webkit-appearance: none;
            }
        }

        .notify__icon {
            margin-right: .4rem;
        }

        .notify-container {
            position: absolute;
            right: 40px;
            top: 0.6rem;
            background-color: #e1fef2ad;
            width: 300px;


        }

        button {
            width: 100%;
            background-color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 700;
            font-family: inherit;
            padding: .7rem 0;
            transition: all 0.4s ease;
            border-radius: 40px;
        }

        button:hover {
            background-color: #0000002d;
            color: white;
            box-shadow: inset 0 3px white;
        }
    </style>
</head>

<body>
    <%- body %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script>
    const copy = document.querySelector('#copy_button');
    const notification = document.querySelector('#notifications .notify');
    const notifyButton = document.querySelector('#notify-button');
    const notifyContainer = document.querySelector('.notify-container');
    const notifyBottomMargin = 6;
    const notifyDelay = 6;

    copy.addEventListener('click', () => {
        const copyText = document.querySelector('#copy').value;
        navigator.clipboard.writeText(copyText);
        addNotification();
    });


    function showNotification(item) {
        TweenMax.set(item, {
            marginBottom: notifyBottomMargin,
            marginTop: -item.offsetHeight,
            opacity: 0.25
        });
        TweenMax.to(item, 0.5, {
            marginTop: 0,
            opacity: 1,
            ease: Expo.easeOut,
            onComplete: function () {
                hideNotification(item);
            }
        });
    }


    function hideNotification(item, delay = true) {
        TweenMax.to(item, 0.5, {
            opacity: 0,
            marginTop: -item.offsetHeight - notifyBottomMargin,
            delay: delay ? notifyDelay : 0,
            onComplete: function () {
                item.parentNode.removeChild(item);
            }
        });
    }


    function addNotification() {
        newNotification = notification.cloneNode(true),
            close = newNotification.querySelector('.notify__close');
        close.addEventListener('click', () => {
            hideNotification(newNotification, false);
        });
        notifyContainer.insertBefore(newNotification, notifyContainer.firstChild);
        showNotification(newNotification);
    }

</script>

</html>