<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nano_url</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel=" stylesheet" href="/stylesheets/mystyles.css">
</head>

<body class="bg-primary c-transition toggle-theme">
    <%- include('../partials/navbar')%>
        <main class="p-4 md:p-10">
            <%- body %>
        </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="/javascript/index.js"></script>
<script src="/javascript/notfication.js"></script>

</html>