<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nano_url</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel=" stylesheet" href="/stylesheets/mystyles.css">
</head>

<body class="bg-primary c-transition relative">

    <%- include('../partials/navbar')%>
        <%- include('../partials/flash')%>
            <%- include('../partials/aside')%>
                <div class="w-full -z-30 h-2"></div>
                <main class="p-4 mt-10 md:ml-64">
                    <%- body %>
                </main>


</body>
<script src="/javascript/aside.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="/javascript/layout.js"></script>
<script src="/javascript/index.js"></script>
<script src="/javascript/codeForm.js"></script>


</html>