<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Link</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Pristina;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background: url("https://kinsta.com/wp-content/uploads/2023/12/create-url-shortener-with-python-1024x512.png") no-repeat center/cover fixed;
        }

        section {
            position: relative;
            width: 80%;
            max-width: 500px;
            border: 2px solid #ffffff80;
            border-radius: 20px;
            backdrop-filter: blur(15px);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4rem 3rem;
        }

        h1 {
            font-size: 2rem;
            text-align: center;
            color: #fff;
        }

        .input_container {
            position: relative;
            margin: 30px 0;
            width: 100%;
            border-bottom: 2px solid #ffffff80;
        }

        form {
            width: 100%;
        }

        .input_container label {
            position: absolute;
            right: 8px;
            color: #fff;
            width: 30px;
            top: 20px;
        }



        .input_container input::placeholder {
            color: #00000062;
        }

        .input_container input {
            width: 100%;
            height: 60px;
            background: transparent;
            border: none;
            outline: none;
            font-size: 1rem;
            padding: 0 35px 0 5px;
            color: #fff;
            font-weight: 700;
            font-family: inherit;

        }

        svg {
            position: absolute;
            right: 0px;
            color: #fff;
            width: 30px;
            top: 5px;
        }

        button {
            width: 100%;
            background-color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 700;
            font-family: inherit;
            padding: .7rem 0;
            transition: all 0.4s ease;
            border-radius: 40px;
        }

        button:hover {
            background-color: #0000002d;
            color: white;
            box-shadow: inset 0 3px white;
        }
    </style>
</head>

<body>
    <section>
        <form action="/dev_nano" method="POST">
            <h1>Enter Url</h1>
            <div class="input_container">
                <label for="url">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                    </svg>
                </label>
                <input name="originalUrl" id="url" type="text" required placeholder="www.example.com">
            </div>
            <button>Submit</button>
        </form>
    </section>
</body>

</html>