<% layout('layouts/boilerplate')%>
    <section class="flex justify-center ">
        <div class=" py-3 border-secondary border-4 w-[80%]  lg:w-[70%] md:px-6 c-transition">

            <form class=" text-secondary c-transition  max-w-4xl mx-auto px-6 my-6" action="/dev_nano" method="POST">
                <h1
                    class="sm:text-2xl md:text-3xl text-secondary text-center drop-shadow-lg c-transition font-bold m-5 ">
                    Create A
                    Short Link</h1>
                <div class="grid sm:grid-cols-2 gap-10">
                    <div class="relative flex items-center sm:col-span-2">
                        <label class="text-xs absolute top-[-10px] left-0" for="url">Destination URL</label>
                        <input id="url" name="destinationUrl" type="text" required placeholder="www.example.com"
                            class="px-2 pt-5 pb-2 bg-primary c-transition w-full text-sm border-b-2 border-textMuted focus:border-secondary outline-none" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"
                            class="size-3 absolute right-2 bottom-3 z-50 bg-primary">
                            <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
                            <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
                        </svg>
                    </div>
                </div>

                <% if (currentUser && currentUser.isVerified){%>
                    <button type="button" id="customize-url-button"
                        class="c-transition mt-8 mb-5 border-2 border-secondary px-8 py-4 rounded-sm text-sm bg-primary text-secondary"><span
                            class="font-bold">Customize Url: </span>
                        <%= currentUser.linksLeft%> left
                    </button>
                    <% if (currentUser.linksLeft) { %>
                        <div id="customize-input" class="hidden c-transition sm:grid-cols-2 gap-10">
                            <div class="relative flex items-center">
                                <label class="text-xs absolute top-[-10px] left-0" for="url">Base URL</label>
                                <input id="" name="baseUrl" type="text"
                                    class="px-2 pt-5 pb-2 bg-primary c-transition w-full text-sm border-b-2 border-textMuted focus:border-secondary outline-none"
                                    value="http://localhost:5000/dev_nano" disabled />
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round"
                                    stroke-linejoin="round" class="size-3 absolute right-2 bottom-3 z-50 bg-primary">
                                    <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
                                    <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
                                </svg>
                            </div>
                            <div class="relative flex items-center">
                                <label class="text-xs absolute top-[-10px] left-0" for="custom-text">Custom Text</label>
                                <input id="custom-text" name="customText" type="text"
                                    class="px-2 pt-5 pb-2 bg-primary c-transition w-full text-sm border-b-2 border-textMuted focus:border-secondary outline-none"
                                    placeholder="add your custom text" />
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round"
                                    stroke-linejoin="round" class="size-3 absolute right-2  bottom-3 z-50 bg-primary">
                                    <path
                                        d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                                </svg>
                            </div>
                        </div>
                        <% } %>
                            <% } %>
                                <button type="submit"
                                    class="c-transition mt-10 mb-8 px-2 py-2.5 w-full rounded-sm text-sm bg-secondary hover:bg-textMutedS text-textMuted">Submit</button>

                                <% if (!currentUser) { %>

                                    <p class=" text-xs md:text-sm text-center md:text-start">Customized Links?
                                        Customized links are
                                        available for registered
                                        users. <a href="/auth/register"
                                            class="underline cursor-pointer italics text-blue-600">Sign
                                            up</a>
                                        to access this
                                        feature.</p>

                                    <% } %>
            </form>
        </div>
    </section>


    <script src="/javascript/home.js"></script>