@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Cormorant Upright", serif;
}


.banner-bg {
    background-image: url(../assets/homepage-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}